
.board {
    height: calc(100vh - 55px);

    .toolbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 30px;

        .boardName {
            font-size: 36px;
            margin-right: 30px;
        }

        .buttonsContainer {
            button {
                margin-right: 10px;
            }
            
            svg {
                cursor: pointer;
            }
        }

    }

    .boardContainer {
        overflow: scroll;
        height: calc(100vh - 120px);

        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
            display: none;
        }

        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

        .boardArea {
            width: 2560px;
            height: 1440px;
            position: relative;
        }
    }
}

.editBoardDialog {
    .content {
        display: grid;
        row-gap: 10px;
    }
}