@use 'variables' as v;

.board {
    position: relative;
    height: calc(100vh - v.$header-height - 1px);

    .toolbar {
        position: absolute;
        display: flex;
        align-items: center;
        padding: 0 8px;
        height: 45px;
        z-index: 2;
        top: 12px;
        left: 12px;
        background-color: white;
        box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
        border-radius: 8px;

        .board-name {
            font-size: 30px;
        }

        .button-container {
            .add-button {
                position: fixed;
                bottom: 16px;
                right: 16px;
                z-index: 2;
                background-color: #1976d2;
                color: white;
                box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
            }

            button {
                margin-left: 10px;
            }
            
            svg {
                cursor: pointer;
            }
        }

    }

    .board-container {
        overflow: scroll;
        height: calc(100vh - v.$header-height - 1px);

        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
            display: none;
        }

        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

        .board-area {
            width: 2560px;
            height: 1440px;
            position: relative;
        }
    }
}

.editBoardDialog {
    .content {
        display: grid;
        row-gap: 10px;
    }
}