.confirmationDialog {
    .MuiPaper-root {
        padding: 8px 16px;
    }

    .MuiTypography-root {
        padding: 8px 0;
    }

    .MuiDialogContent-root {
        padding: 0;
    }

    .MuiDialogActions-root {
        padding: 8px 0;
    }
}