.note-item {
    border: 2px solid black;
    line-height: 50px;
    padding: 5px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;

    .header {
        height: 25px;
        display: flex;
        justify-content: space-between;

        .moveNoteArea {
            width: 100%;
            height: inherit;
            cursor: grab;
        }
          
        .colorPicker {
            position: absolute;
            top: 30px;
            background-color: white;
            max-height: 0px;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            display: flex;
            border: 0px solid lightgrey;

            .color {
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }
    }

    .noteEditor {
        width: 195px;
        height: 195px;
        font-size: 16px;
        font-family: inherit;
        color: inherit;
        border: unset;
        background-color: unset;
        outline: unset;
        resize: none;
    }

    &.hide {
        transition: 0.01s;
        transform: translateX(-9999px);
    }
}